In [ ]:
# Recuerden montar el disco de google drive si estás trabajando desde colab

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

df = pd.read_csv('data/kc_house_data.csv')
df.head()

df.info()
# A partir de este debería ir el análisis de las columnas, en base a gráficos,
# correlación, etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [17]:
# Sacar el target de nuestro dataframe
y = df['price']
# Sacaremos las columnas de nuestro dataframe: bedrooms, bathrooms, sqft_above
X = df.drop(labels=['id', 'date', 'price'], axis=1)

In [18]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [19]:
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [20]:
# Para un modelo común y corriente, debería venir el proceso de escalamiento... pero
# utilizaremos Árbol de decisión, por lo que no es necesario :)
from sklearn.model_selection import train_test_split
# División training y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [21]:
# Creamos un objeto (una variable) a partir del regresor de árbol de decisión
reg = DecisionTreeRegressor(max_depth=20)
# Entrenamos nuestro modelo!
reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=20)

In [22]:
reg.score(X_test, y_test)

0.7428414855679544

In [27]:
# Hagamos algunas pruebas!
print(reg.predict(X_test.head()))
print(y_test.head())

[ 397500.          825000.          962800.         2250000.
  646785.71428571]
735       365000.0
2830      865000.0
4106     1038000.0
16218    1490000.0
19964     711000.0
Name: price, dtype: float64